@use "global" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: rem(80);
  z-index: 50;

  @include mq(md) {
    height: rem(90);
  }
}

.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(13, 41, 54, 0.68);
  padding-left: rem(15);
  padding-right: rem(15);

  @include mq(md) {
    padding-left: rem(51);
    padding-right: rem(9);
  }
}

.header__block {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 100%;
  max-width: rem(102);
  z-index: 9999;
  @include mq(md) {
    max-width: rem(133);
  }
}

.header__menu {
  display: none;

  @include mq(md) {
    height: inherit;
    display: flex;
    align-items: center;
  }
}

.header__menu-item {
  height: inherit;
  color: $white;
  position: relative;
}

.header__menu-item a {
  @include mq(md) {
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: rem(12);
    padding-right: rem(12);
  }

  @include mq(lg) {
    padding-left: rem(20);
    padding-right: rem(20);
  }
}

.header__menu-item a:after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: rem(15);
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 2px;
  background: $white;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: center top;/*上部中央基点*/
}

.header__menu-item a:hover:after{
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

.header__menu-item-en {
  font-family: $forth-font-family;

  @include mq(md) {
    font-size: rem(16);
  }

  @include mq(lg) {
    font-size: rem(18);
  }
}

.header__menu-item-jp {
  text-align: center;
  line-height: calc(15/10);

  @include mq(md) {
    font-size: rem(8);
  }

  @include mq(lg) {
    font-size: rem(10);
  }
}

.header__hamburger {
  height: rem(24);
  margin-left: auto;
  position: relative;
  width: rem(32);
  z-index: 9999;
}

.header__hamburger span {
  background-color: $white;
  border-radius: rem(4);
  height: rem(2);
  position: absolute;
  right: 0;
  transition: transform 0.3s, width 0.3s, top 0.3s;
  width: inherit;
}

.header__hamburger span:nth-child(1) {
  top: 0;
}

.header__hamburger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.header__hamburger span:nth-child(3) {
  top: 100%;
  transform: translateY(-100%);
}


.header__hamburger.is-open span:nth-child(1) {
  top: rem(-16);
  transform: translateY(rem(20)) rotate(35deg);
  width: 2.5rem;
}

.header__hamburger.is-open span:nth-child(2) {
  opacity: 0;
}

.header__hamburger.is-open span:nth-child(3) {
  transform: translateY(rem(-20)) rotate(-35deg);
  width: 2.5rem
}

.header__drawer{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: $green;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  padding-top: rem(21);
}

.header__drawer-inner{
  padding-left: rem(15);
  padding-right: rem(15);
}

.header__drawer-block{
  margin-top: rem(60);
  overflow: scroll;
  height: 100vh;

}

.header__drawer-nav{
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
}

.header__drawer-nav-items{
  width: 100%;
  max-width: 100%;
}

.header__drawer-nav-item{
  width: 100%;
  max-width: 100%;
  color: $white;
  font-size: rem(16);
  font-weight: $regular;
}

.header__drawer-nav-item a{
  width: 100%;
  padding-top: rem(12);
  padding-bottom: rem(12);
  display: block;
  text-indent: calc(1em + rem(4));
}


.header__drawer-nav-item--bold{
  font-weight: $bold;
  display: flex;
  align-items: center;
  gap: rem(4);
}

.header__drawer-nav-item--bold a{
  text-indent: 0;
}

.header__drawer-nav-item--bold::before{
  content: url(/assets/images/common/star-fish.svg);
}

.header__drawer-nav-item--padding a{
  padding-top: rem(20);
  padding-bottom: rem(20);
}

.header__drawer-nav-item--paddingbottom a{
  padding-top: rem(20);
  padding-bottom: rem(12);
}